{% extends "!footer.html" %}
{% block extrafooter %}
<div class="wy-footer-logo-container">
  <div class="wy-footer-logo"><img src="_static/logos/logo_eu.png"/></div>
  <div class="wy-footer-logo"><img src="_static/logos/logo_erc_nonofficial.svg"/></div>
  <div class="wy-footer-logo"><img src="_static/logos/logo_loria.jpg"/></div>
  <div class="wy-footer-logo"><img src="_static/logos/logo-inria.svg"/></div>
  <div class="wy-footer-logo"><img src="_static/logos/logo_cnrs.png"/></div>
  <div class="wy-footer-logo"><img src="_static/logos/logo_universite_lorraine.jpg"/></div>
</div>
{% endblock %}

{{ super() }}